---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
   background-color: #FAFAFA;
}

// Customize the menubar color
.ui.menu {
   background: #2c3e50;
}

.ui.menu .item {
    color: white;
}

//Change menubar color of current page
.ui.menu .active.item {
    color: #18bc9c;
}

// Customize the home page icon colors
.icon-color {
   color: #2c3e50;
}

//Change hover menubar color of other pages except current page
.ui.menu a.item:hover {
   color: #18bc9c;
}

//Change hover menubar color of current page when on current page
.ui.menu .active.item:hover {
  color: #18bc9c;
}

//Change background color of cards to white
.ui.card>.image>img, .ui.cards>.card>.image>img {
   background-color: #fff;
}
